//article
$lienColor:#007bff;
$lienHover:#0056b3;
$borderArt:#eaeaea;

//header
$bgHeader:#f9f9f9;

//buton
$workBtn:#0766f0;
$teamBtn:#dc5E53;
$newsBtn:#98dc62;

//scrollbar
$scroll: #bbbb;

//shadow
$fontBox: #3d3b3bbb;